USE [master]
GO

CREATE DATABASE [dwh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dwh', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dwh.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dwh_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dwh_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dwh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dwh]
GO

/****** Object:  Table [dbo].[COMPANY] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_COMPANY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[HARVESTING_FRUITS] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[HARVESTING_FRUITS](
	[COMPANY_ID] [bigint] NOT NULL,
	[APPLE] [bigint] NULL,
	[GRAPE] [bigint] NULL,
	[YEAR] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[HARVESTING_FRUITS]  WITH CHECK ADD  CONSTRAINT [FK_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[COMPANY] ([ID])
GO
ALTER TABLE [dbo].[HARVESTING_FRUITS] CHECK CONSTRAINT [FK_COMPANY]
GO

SET IDENTITY_INSERT [dbo].[COMPANY] ON 
INSERT [dbo].[COMPANY] ([ID], [NAME]) VALUES (1, N'Fruit Garden Inc.')
INSERT [dbo].[COMPANY] ([ID], [NAME]) VALUES (2, N'Village Fruits')
INSERT [dbo].[COMPANY] ([ID], [NAME]) VALUES (3, N'Best Fruits Inc.')
SET IDENTITY_INSERT [dbo].[COMPANY] OFF

INSERT [dbo].[HARVESTING_FRUITS] ([COMPANY_ID], [APPLE], [GRAPE], [YEAR]) VALUES (1, 1000, 200000, N'2015')
INSERT [dbo].[HARVESTING_FRUITS] ([COMPANY_ID], [APPLE], [GRAPE], [YEAR]) VALUES (1, 5000, 10000, N'2016')
INSERT [dbo].[HARVESTING_FRUITS] ([COMPANY_ID], [APPLE], [GRAPE], [YEAR]) VALUES (1, 10000, 20000, N'2017')

USE [master]
GO
